html{
    font-size:20px;
}

body{
    font-family:"Arial", "Meiryo", sans-serif;
}

h1{
    font-family:"Josefin Sans",sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 12px 12px 24px rgba(0,0,0,0.5);
    text-align: center;
}

.blue{
    color:skyblue;
}

.pink{
    color:rgb(255, 192, 203);
}

* {
  text-align: center;
}

<div id="basic">
    <h2 class="pink">名前</h2>
    <p>侍　太郎</p>
    <h2 class="blue">生年月日</h2>
    <p>1990年1月1日</p>
    <h2 class="pink">血液型</h2>
    <p>O型</p>
  </div>
  </body>
  </html>