/* Step 3: 全体の初期設定 */
body, h1, p {
    margin: 0;
}

p, a {
    font-size: 20px;
}

/* Step 4: header スタイル */
header {
    background-color: rgb(244, 79, 79);
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: rgb(255, 255, 255);
}

/* Step 5: main スタイル */
main {
    padding: 10px;
}

/* Flex コンテナ設定 */
#parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* 各地域の天気ボックス */
.conten
